<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none">
		<img src="/img/logo.svg" alt="WandelGarten Logo" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li><a href="/wandelgarten" class="pa3 no-underline db">Der WandelGarten</a></li>
		<li><a href="/aktuelles" class="pa3 no-underline db">Aktuelles</a></li>
		<li><a href="/umweltbildung" class="pa3 no-underline db">Umweltbildung</a></li>
		<li><a href="/mitmachen" class="pa3 no-underline db">Mitmachen</a></li>
		<li><a href="/kontakt" class="pa3 no-underline db">Kontakt</a></li>
	</ul>

</nav>
